body {
    background-size: 120% auto;
    background-repeat: no-repeat;
    background-color: ghostwhite;
}

#login-box {
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-top: 15%;
    border-radius: 10px;
    text-align: center;
    background: #00000080;
    padding: 20px 50px;
}

#login-box h1 {
    color: aliceblue;

}

/*#login-box .form .item {*/
/*    margin-top: 15px;*/
/*    font-size: 18px;*/
/*    color: white;*/
/*}*/

#login-box .form  input {
    color: white;
    width: 80px;
    min-width: 80px;
    max-width: 50%;
    font-size: 18px;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 10px;
    background: gainsboro;
}

#login-box .form input[placeholder] {
    color: black;
}


#login-box button {
    border: 0;
    margin-top: 15px;
    width: 125px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: blue;
    /*background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);*/
    border-radius: 15px;
}

#message-box {
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}