__pycache__
j_temp
.idea
build/*
!build/ubuntu
!build/windows
dist
sometest
*.zip
*.c
*.ui
target/
test_files/
test2.py
test3.py
*.pyd
jamtools.log
temp.png
temp.jpg
src/
bin/darwin/ffmpeg
bin/darwin/gifsicle
