__pycache__
j_temp
.idea
build/*
!build/installer
dist
sometest
*.so
*.zip
*.c
*.ui
target/
test_files/
test2.py
test3.py
*.pyd
libopencv_world.3.4.1.dylib
jamtools.log
libopencv_world.so.3.4
opencv_world341
opencv_world341.dll
sometests.py
sometests.spec
temp.png
temp.jpg
src/
bin/darwin/ffmpeg
bin/darwin/gifsicle
