.container {

    padding-top: 10px;
     width: 100%;
    -moz-box-shadow: 1px 2px 2px #888888; /* 老的 Firefox */
    box-shadow: 1px 2px 10px gray;
    /*background-color: aliceblue;*/
    background: linear-gradient(90deg, rgba(230, 230, 240, 0.8) 20%, rgba(180, 180, 190, 1) 100%);

    /*margin: 3px*/

}
.container h2{
    margin-top: 5px;
    padding-top: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
    }
.container .back{
    background: #888888 ;
}
.container input {

    width: auto;

    height: 30px;

    padding-left: 10px;
    padding-right: 10px;

    color: white;

    border: solid 1px #a777e3;

    line-height: 30px;

    margin-left: 10px;
    margin-bottom: 6px;

    outline: none;
    /*-moz-box-shadow: 2px 3px 5px #888888; !* 老的 Firefox *!*/
    /*box-shadow: 2px 3px 5px #888888;*/
    /*background: linear-gradient(-45deg, rgba(87, 225, 181, 1) 0%, rgba(0, 63, 255, 1) 100%);*/
    /*box-shadow: 0 5px 20px rgba(0, 63, 255, .5);*/
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border-radius: 4px;
    cursor: pointer;


}
.container input:hover{
    border: solid 1px #eee;
    box-shadow: 0 5px 15px rgba(50, 50, 100, .3);
    padding-left: 10px;
    padding-right: 10px;
}

#footer {
                /*background-color: aliceblue;*/
    background: linear-gradient(90deg, rgba(200, 200, 200, 1) 0%, rgba(120, 120, 120, 1) 100%);
                color: black;
                position: fixed;
                margin-top: 50px;
                bottom: 0;
                width: 100%;
                height: auto;
                text-align: center;
                -moz-box-shadow: -1px -2px 2px darkgray; /* 老的 Firefox */
                box-shadow: -1px -2px 2px darkgray;
            }
#footer :hover{
     -moz-box-shadow: 1px -1px 2px darkgray; /* 老的 Firefox */
    box-shadow: 1px -1px 2px darkgray;
}

#filelist {
    /*table-layout: fixed;*/
    border: solid 2px aliceblue;
    border-collapse: collapse;
    min-width: 75%;
    max-width: 100%;
    margin: 10px;

            }

#filelist td {
    border-bottom: solid 1px #eee;
    padding: 5px;
    height: auto;
    word-break:break-all;
    font-size: 12px;

    /*line-height:30px ;*/

    /*padding: 0 3px;*/

}
#filelist input{
    width: 10px;
}
#filelist tr:hover {

            border: solid 1px black;
            height: auto;
            background-color: azure;
            font-size: 12px;

            /*line-height:30px ;*/

            padding: 0 3px;

        }